<div class="vending-machine-container">
  <!--First LED-->
  <led-display [message]="getFirstDisplayMessage((power$ | async)!)"></led-display>
  <!--Second LED-->
  <led-display [message]="getSecondDisplayMessage((power$ | async)!, selectedItem, paymentFailed)"></led-display>
  <div id="selection-container">
    <vending-item-display [inventory]="(vendingInventory$ | async)!" [(selectedItem)]="selectedItem" (paymentSuccessful)="paymentFailed = $event; addItemToTray($event, selectedItem)"></vending-item-display>
  </div>
  <vending-tray></vending-tray>
  <power-button></power-button>
</div>